html,body{
    padding: 0;
    margin: 0;
}
/*.--van-popup-background{*/
/*    background-color: #110101;*/
/*}*/
/* 添加这段样式后，Primary Button 会变成红色 */
:root:root {
    --van-popup-background: #A1ACBD;
    --van-uploader-size:40vw;
    /*--van-field-input-text-color: #2d0e0e*/
}

